:root {
  --main-panel-color: #252759;
}

.info-panel {
  background: var(--main-panel-color);
  border-radius: 10px;
  border-style: solid;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  // position: relative;

  img {
    box-sizing: border-box;
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    margin: 20px;
    width: 80%;

    padding: 3px;
    background-clip: content-box;
  }

  .no-image {
    background-color: var(--main-panel-color);
    margin: 20px;
  }

  .person-icon {
    background-color: var(--main-panel-color);
  }
  
  .side-info {
    margin: 20px 20px 20px 5px;

    .name {
      font-size: 30px;
      margin-bottom: 10px;
    }

    .gray-name {
      opacity: 0.6;
    }

    .table-container {

      table {
        width: 100%;
        table-layout: fixed;

        td {
          vertical-align: top;
        }

        .td-center {
          text-align: left;
        }

        .td-label {
          opacity: 0.6;
        }
      }
    }
  }
}

// .info-panel:before {
//   content: "";
//   position: absolute;
//   border-radius: 10px;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   box-shadow:
//     0 0 2px 2px rgb(251, 255, 16),
//     0 0 12px 6px rgb(88, 173, 7);
//   z-index: -10;
// }

@media screen and (max-width: 480px) {
  .info-panel {
    grid-template-columns: 1fr;

    img {
      height: 120px;
      width: 120px;
      margin: 10px auto 0 auto;
    }

    .side-info {
      margin: 5px 20px 5px 20px;

      .name {
        font-size: 28px;
        margin-bottom: 6px;
      }

      table {
        font-size: 14px;
      }
    }

  }
}