:root {
  --orange:#FFC600;
  --main-panel-color: #252759;
}

$small-font: 16px;
$smallest-font: 12px;
$small-image: 28px;

.total-history-panel {
  background: var(--main-panel-color);
  border-radius: 0 0 10px 10px;
  border-style: none solid solid solid;
  margin: 0 10px 0 10px;

  // box-shadow:
  //   0 0 2px 2px rgb(251, 255, 16),
  //   0 0 10px 4px rgb(88, 173, 7);
  // position:static;
  // z-index: -1;

  .history-top {
    display: flex;

    .history-label {
      padding: 5px 0 5px 15px;
      font-size: 18px;
    }

    @media screen and (max-width: 480px) {
      .history-label {
        padding: 3px 0 3px 15px;
        font-size: $small-font;
      }

      .clear-history {
        margin: 2px 0 0 8px;
        font-size: $smallest-font;
      }
    }

    .clear-history {
      margin: 4px 0 0 8px;
      cursor: pointer;
      background: none;
      border: none;
      color: var(--orange);
    
      &:hover {
        color: var(--yellow);
      }
    }

    @media screen and (max-width: 480px) {
      .clear-history {
        margin: 2px 0 0 8px;
        font-size: $smallest-font;
      }
    }
  }

  .history-panel {
    display: flex;
    flex-wrap: wrap;
    margin: 0 6px 10px 6px;

    .history-img {
      width: 35px;
      height: 35px;
      margin-top: 5px;
      border-radius: 10px;
      position: relative;
      margin-left: 4px;
      border: solid 1px #ccc;
      padding: 2px;
      background-clip: content-box;
      background-color: #ccc;
    
      img {
        width: 85%;
        height: 85%;
        border-radius: 8px;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto auto;
      }
    
      &:hover {
        background: var(--orange);
        cursor: pointer;
      }
    
      &.selected {
        background: var(--orange);
        border-color: var(--orange);
      }
    }
  
    .history-img:hover {
      border-color: var(--orange);
    }

    @media screen and (max-width: 480px) {
      .history-img {
        width: $small-image;
        height: $small-image;
      }
    }
  }
  
  .hidden {
    display: none;
  }
}

// @media screen and (max-width: 480px) {
//   .history-label {
//     padding: 3px 0 3px 15px;
//     font-size: 10px;
//   }
// }