:root {
  --dark-back:#020D3B;
  --main-panel-color: #252759;
  --dark-blue:#072AC8;
  --blue:#1E96FC;
  --light-blue:#A2D6F9;
  --yellow:#FCF300;
  --orange:#FFC600;
  --white:#fff;
}

$main-padding: 10px;
$main-margin: 10px;

body {
  background: var(--dark-back);
  color: white;
  // font-family: 'Gemunu Libre', sans-serif;
  font-family: 'Acme', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  width: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: $main-padding 0 $main-padding 0;
}

.logo-panel {
  width: 100%;
  margin-bottom: $main-margin;
}

.database-panel {
  border-radius: 20px;
  width: 440px;
  margin: auto;
}

.logo {
  width: 100%;
  height: 100%;
}

.logo-database {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-top: -30px;
}

@media screen and (max-width: 610px) {
  .main-container {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .database-panel {
    width: auto;
  }

  .logo-database {
    font-size: 22px;
  }
}

@media screen and (max-height: 730px) {
  .database-panel {
    padding-bottom: 20px;
  }
}

@media screen and (max-height: 730px) {
  
  .main-container {
    margin: $main-margin auto $main-margin auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .database-panel {
      padding-bottom: 20px;
    }
  }
}